In [6]:
# import pandas as pd

# # Read the CSV file
# df = pd.read_csv('all_data.csv')

# # Get unique values for 'Type' and 'Pool'
# unique_types = df['Type'].unique()
# unique_pools = df['Pool'].unique()
# time = df['Time'].unique()
# print(len(time))


# print("Unique values for Type:", unique_types)
# print("Unique values for Pool:", unique_pools)
# df.head()

262
Unique values for Type: [1 2]
Unique values for Pool: [100 200 301 302]

         Time  Name  Type  Star  Pool
0  2020-09-28  翡玉法球     1     3   100
1  2020-09-28  以理服人     1     3   100
2  2020-09-28  以理服人     1     3   100
3  2020-09-28   芭芭拉     2     4   100
4  2020-09-28   鸦羽弓     1     3   100

In [12]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('all_data.csv')

# Convert the 'Time' column to datetime format
df['Time'] = pd.to_datetime(df['Time'])

# Extract the month and year for grouping purposes
df['YearMonth'] = df['Time'].dt.to_period('M')

# Group by YearMonth and 'Pool' and count the rows
monthly_counts = df.groupby(['YearMonth', 'Pool']).size().reset_index(name='Monthly Count')

# Sort and accumulate the counts
monthly_counts['Accumulated Count'] = monthly_counts.groupby('Pool')['Monthly Count'].cumsum()

# Display the accumulated counts for each type of pool for each month
print(monthly_counts[['YearMonth', 'Pool', 'Accumulated Count']])
# Save the result to a CSV file
monthly_counts[['YearMonth', 'Pool', 'Accumulated Count']].to_csv('accumulated_counts.csv', index=False)

   YearMonth  Pool  Accumulated Count
0    2020-09   100               2020
1    2020-09   200               9129
2    2020-09   301               9482
3    2020-09   302                217
4    2020-10   100               2770
5    2020-10   200              24015
6    2020-10   301              28798
7    2020-10   302               6906
8    2020-11   100               2990
9    2020-11   200              28956
10   2020-11   301              46356
11   2020-11   302              13132
12   2020-12   100               3140
13   2020-12   200              42911
14   2020-12   301              71172
15   2020-12   302              17801
16   2021-01   100               3250
17   2021-01   200              48026
18   2021-01   301              94206
19   2021-01   302              22986
20   2021-02   100               3320
21   2021-02   200              51347
22   2021-02   301             110791
23   2021-02   302              32911
24   2021-03   100               3330
25   2021-03   200              52136
26   2021-03   301             116957
27   2021-03   302              34066
28   2021-04   200              52259
29   2021-04   301             117455
30   2021-04   302              34516
31   2021-05   200              52372
32   2021-05   301             117965
33   2021-06   200              52388
34   2021-06   301             118026
35   2021-06   302              34518